.last-banner {
    border: 3px solid #BDBDBD;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px!important;
}

.last-banner::before {
    content: 'Last Relesead Banner';
    font-style: 'Roboto';
    font-size: 1.5rem;
    display: inline-block;
    padding: 0 7px;
    line-height: 25px;
    height: 25px;
    background-color:  #3F51B5;
    color: #fff;
    position: relative;
    left: 0%;
    top: -30px;
}